<div class="input-group">
	<input type="text" class="form-control" placeholder="From Date" datepicker-popup="yyyy/MM/dd hh:mm" ng-model="before" is-open="isBeforeOpen"
				 close-text="Close"/>
	<span class="input-group-btn"> 
                <button type="button" class="btn btn-default" ng-click="openBefore($event)"><i
									class="glyphicon glyphicon-calendar"></i></button>
                </span>
</div>
<div class="input-group">
	<input type="text" class="form-control" placeholder="To Date" datepicker-popup="yyyy/MM/dd hh:mm" ng-model="after" is-open="isAfterOpen"
				 close-text="Close"/>
	<span class="input-group-btn"> 
                <button type="button" class="btn btn-default" ng-click="openAfter($event)"><i
									class="glyphicon glyphicon-calendar"></i></button>
                </span>
</div>




