<div ng-controller="SensorTableCtrl as stc" >
    <div class="row" style="padding-top:2%;">
        <div class="col-xs-12">
            
            <div class="row">
                <h4>From Date</h4>
                <div class="col-md-6">
                    <p class="input-group">
                      <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt1" is-open="status1.opened" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open1($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </p>
                    <h4>To Date</h4>
                    <p class="input-group">
                      <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt2" is-open="status2.opened" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open2($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </p>
                </div>
            </div>
            <div class="row" ng-init="stc.initTable()">
                <div class="col-xs-12">
                    <table ng-table="stc.sensorTableData" class="table" show-filter="true">
                        <tr ng-repeat="user in $data">
                            <td title="'SensorId'" filter="{ sensorid: 'number'}" sortable="'sensorid'">
                                {{user.sensorid}}</td>
                            <td title="'Area'" filter="{ area: 'text'}" sortable="'area'">
                                {{user.area}}</td>
                            <td title="'City'" filter="{ city: 'text'}" sortable="'city'">
                                {{user.city}}</td>
                            <td title="'Date'" filter="{ timestamp: 'number'}" sortable="'timestamp'">
                                {{user.timestamp | date:'dd MMMM yyyy hh:mm:ss'}}</td>
                            <td title="'Temperature'" filter="{ temp: 'number'}" sortable="'temp'">
                                {{user.temp}}</td>
                            <td title="'Humidity'" filter="{ humidity: 'number'}" sortable="'humidity'">
                                {{user.humidity}}</td>
                            <td title="'Pressure'" filter="{ pressure: 'number'}" sortable="'pressure'">
                                {{user.pressure}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>